@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat';
  background-color: #0080c6;
}

ng-slides {
  slide {
    .main {
      text-align: center;
      h1 {
        padding: 10px;
      }
    }

  }

}


