@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat';
  background-color: #0080c6;
}

#slides {
  width: 70%;
  color: #ffffff;
  font-size: 50px;
  header{
    margin-bottom: 10px;
    border-bottom: 10px dashed #ffffff;
  }
  ul{
    list-style: none;
  }

  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 60px;
  }
  .main {
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 60px;
    }
  }

  .yoeri {
    p{
      display: block;
      margin-top: 25px;
      width: 80%;
      padding: 40px;
      background-color: #00b3ee;
      text-align: center;
    }
    ul{
      width: 80%;
      padding-left: 0;
      li{
        margin-left: 0;
        margin-top: 10px;
        margin-right: 10px;
        float: left;
        display:block;
        height: 220px;
        width: 220px;
        background-color: #c54739;
        &:first-child{
          width: 440px;
        }
      }
    }
  }
}


