<ng-slides class="ready" id="slides">
  <slide class="main ng-hide">
    <slide-content>
      <header>
        <h1>AngularJS</h1>

        <h2>in case you've missed it!</h2>
      </header>

    </slide-content>
  </slide>

  <slide class="yoeri ng-hide">
    <slide-content>
      <header>
        <h1>Proudly presented by</h1>
      </header>
      <p>Yoeri Van Damme</p>
      <ul>
        <li>problem solver</li>
        <li>trainer</li>
        <li>IT enthousiast</li>
      </ul>
    </slide-content>
  </slide>
  <slide class="agenda">
    <slide-content>
      <header>
        <h1>Let's talk about...</h1>
      </header>
      <ul>
          <li>Javascript</li>
          <li>AngularJS</li>
          <li>controllers</li>
          <li>filters</li>
          <li>Karma - tests</li>
          <li>directives</li>
          <li>services</li>
          <li>TypeScript</li>
          <li>Angular 2.0</li>
      </ul>
    </slide-content>
  </slide>

  <slide class="javascript-slide">
    <slide-content>
      <header>JavaScript</header>
      <ul>
        <li>
          Who loves JavaScript?
        </li>
      </ul>
      <div>
        <iframe src="http://thecodinglove.com/post/86192712309/when-i-have-to-develop-all-my-next-web-project-in"
                frameborder="0" scrolling="no" width="700" height="350"></iframe>
      </div>
      <footer fragment="">
        more on <a href="http://thecodinglove.com" target="_blank">this awesome website</a>
      </footer>
    </slide-content>
  </slide>


</ng-slides>
