<ng-slides class="ready" id="slides">
  <slide class="main ng-hide">
    <slide-content>
      <header>
        <h1>AngularJS</h1>

        <h2>in case you've missed it!</h2>
      </header>

    </slide-content>
  </slide>

  <slide class="yoeri ng-hide">
    <slide-content>
      <header>
        <h1>Proudly presented by</h1>
      </header>
      <p>Yoeri Van Damme</p>
      <ul>
        <li>problem solver</li>
        <li>trainer</li>
      </ul>
    </slide-content>
  </slide>
</ng-slides>
